/* descendant selector */
article p{

    color: blue;
}
/* child combinator */
article > p{
    color: rgb(173, 173, 16);
}

/* next sibling combinator */
h3 + p {
    color: red;
}
/*  */
h2 + h3 {
    color:blue;
}
/* subsequent-sibling combinator */
p ~ section {
    border: 1px solid rgb(98, 0, 255);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
}
/* attribute-selector */
p[class=attribute-selector]{
    text-decoration-color:red;
    background-color: aqua;
}
/* "text-align" */
p[class="text-align"]{
    text-align: justify;
}
/* "direction" */
p[class="direction"]{
    direction: rtl;
    unicode-bidi: bidi-override;
}
/* text decoration */
h1{
    text-decoration: underline wavy green 3px;
}
/* text tranformation */
h2{
    text-transform: capitalize;
}

/* "letter-spacing" */
p[class="letter-spacing"]{
    letter-spacing: 4px;
}
/* class="line-heigt" */
p[class="line-heigt"]{
    line-height: 40px;
}
/* class="word-spacing" */
p[class="word-spacing"]{
    word-spacing: 40px;
}
/* text-shadow */
h2{
    text-shadow: 2px 2px 6px blue;
}


h1{
    color: rgb(0, 255, 157);
}
